<div class="flex items-center justify-center h-fit bg-gray-50 w-full mx-auto p-5">confiance.contab&#64;gmail.com
</div>

<header class="sticky flex items-center justify-around bg-white/80 inset-x-0 top-2 w-full mx-auto z-10">
  <a href="#"><img class="cursor-pointer" ngSrc="assets/logo.png" height="74" width="228"></a>
  <nav class="">
    <ul class="flex items-center justify-around">
      <li class="uppercase"><a
        class="block hover:text-green-500 duration-500 rounded-xl text-xl text-cyan-900 p-4 mr-3 cursor-pointer"
        href="#main">home</a></li>
      <li class="uppercase"><a
        class="block hover:text-green-500 duration-500 rounded-xl text-xl text-cyan-900 p-4 mr-3 cursor-pointer"
        href="#especialidades">especialidades</a></li>
      <li class="uppercase"><a
        class="block hover:text-green-500 duration-500 rounded-xl text-xl text-cyan-900 p-4 mr-3 cursor-pointer"
        href="#segmentos">segmentos</a></li>
      <li class="uppercase"><a
        class="block hover:text-green-500 duration-500 rounded-xl text-xl text-cyan-900 p-4 mr-3 cursor-pointer"
        href="#vantagens">vantagens</a></li>
      <li class="uppercase"><a
        class="block hover:text-green-500 duration-500 rounded-xl text-xl text-cyan-900 p-4 mr-3 cursor-pointer"
        href="#contato">contato</a></li>
      <li class="uppercase">
        <a href="#contato">
          <button class="btn hover:text-green-500 duration-500 text-xl text-white">Proposta</button>
        </a>
      </li>
    </ul>
  </nav>
</header>
