.van-card, .circle {
  transition: all .2s linear;
}

.van-card div{
  /*height: 30%;*/
  /*opacity: 0;*/
  transition: all .2s linear;
}

p {
  opacity: 0;

  transition: all .2s linear;
  transition-delay: .3s;

}
img{
  transition: all .2s linear;

}
.van-card:hover {
  div {
    p{
      display: block;
      opacity: 1;

    }
    /*transform: translateY(100px);*/
    margin-bottom: 100px;
    height: 100%;


    opacity: 1;

  }

  .circle {
    /*transform: scale(200%);*/
    height: 50px;
    width: 50px;
  }

  img {
    /*transform: scale(90%);*/
    /*top:10px;*/
    /*padding-bottom: 20px;*/
  }

  /*height: 100%;*/
  transform: scale(105%);
}
