<section
  class="sm:h-fit md:h-fit lg:h-fit xl:h-screen xl:bg-slate-400 2xl:h-screen 2xl:bg-[] bg-white flex items-center justify-center"
  id="vantagens">
  <div class="flex gap-20 flex-wrap items-center justify-center xl:w-full 2xl:w-full">
    <div class="relative van-card  w-80 bg-white h-96 flex flex-col items-center justify-between rounded-3xl cursor-pointer z-10">
      <img ngSrc="assets/empresas-de-servicos%203.png" height="343" width="150" alt="" class="">
<!--      <div class="circle absolute h-10 w-10 rounded-full bg-cyan-900 top-5 right-5"></div>-->
      <div class=" flex flex-col h-40 text-center bg-cyan-900 rounded-3xl text-white p-5 w-full bottom-0">
        <h2 class="text-2xl">Qualidade no atendimento</h2>
        <p class="">Dispomos de uma equipe profissional totalmente preparada para lhe atender de forma que você entenda e consiga
          acompanhar sua empresa, como deve ser. </p>
      </div>
    </div>
    <div class="w-96 h-fit">
      <img ngSrc="assets/gestao-financeira.png" height="140" width="140" alt="">
      <div class="">
        <h2>Gestão financeira</h2>
        <p> Entendemos que cada profissional possui seu talento. Assim oferecemos a possibilidade de cuidarmos da parte
          chata e burocrática para que você foque totalmente no seu negócio. </p>
      </div>
    </div>
    <div class="w-96 h-fit">
      <img ngSrc="assets/consultoria-especializada.png" height="140" width="140" alt="">
      <div class="">
        <h2>Consultoria especializada</h2>
        <p> Tire suas dúvidas em tempo hábil para tomada de decisões! Nossos profissionais possuem experiência para lhe
          oferecer o suporte necessário. </p>
      </div>
    </div>
  </div>
</section>
