a{
  background-image: url("../assets/zap.png");
  height: 80px;
  width: 80px;
  transition: all .5s linear;
  background-repeat: no-repeat;
}
a:hover{
  background-image: url("../assets/whatsapp.png");
  height: 80px;
  width: 380px;
  background-repeat: no-repeat;
}
