<section class="h-screen bg-[url('assets/pexels-jess-bailey-designs-1097930.jpg')] bg-fixed bg-cover bg-opacity-100 flex items-center justify-center" style="background-color: #292424FF" id="especialidades">
  <div class="flex gap-4">
    <div class="card-box relative w-[80vw] max-w-[21.875rem] h-[28.125rem] overflow-hidden rounded-xl items-center hover:shadow-2xl
      shadow-accent hover:cursor-pointer hover:scale-105 m-5 ease-in-out duration-500 backdrop-blur-2xl">
      <img ngSrc="assets/contabilidade-digital.jpg" height="837" alt="Contabilidade Digital" width="1280"
           class="bg-image object-cover max-w-full h-full">
      <div class="text-section absolute ease-linear duration-500 flex flex-col justify-start h-fit -bottom-52 w-full
            bg-black/50 shadow-2xl shadow-black items-center gap-5 text-center">
        <div class="relative">
          <h2 class="text-2xl text-white pt-2 ">
            Contabilidade Digital
          </h2>
        </div>
        <p class="opacity-0 ease-in duration-700">Além da contabilidade tradicional, oferecemos a possibilidade de uma
          gestão eficiente através do uso de
          tecnologias, otimizando assim os procedimentos contábeis obrigatórios.</p>
        <button class="text-amber-50 pb-16 opacity-0 ease-in duration-500">Read More</button>
      </div>
    </div>
    <div class="card-box relative w-[80vw] max-w-[21.875rem] h-[28.125rem] overflow-hidden rounded-xl items-center hover:shadow-2xl
      shadow-accent hover:cursor-pointer hover:scale-105 m-5 ease-in-out duration-500 backdrop-blur-2xl">
      <img ngSrc="assets/abertura-e-regularizacao.jpg" alt="Abertura e regularização de empresas" height="853"
           width="1280"
           class="bg-image object-cover max-w-full h-full">
      <div class="text-section absolute ease-linear duration-500 flex flex-col justify-start h-fit -bottom-52 w-full
            bg-black/50 shadow-2xl shadow-black items-center gap-5 text-center ">
        <div class="relative">
          <h2 class="text-2xl text-white pt-2 ">
            Abertura e regularização de empresas
          </h2>
        </div>
        <p class="opacity-0 ease-in duration-700">Cuidamos de todo o processo de abertura e regularização de sua
          empresa, oferecendo suporte personalizado e orientação sobre o melhor regime tributário para o seu
          negócio. </p>
        <button class="text-amber-50 pb-16 opacity-0 ease-in duration-500">Read More</button>
      </div>
    </div>
    <div class="card-box relative w-[80vw] max-w-[21.875rem] h-[28.125rem] overflow-hidden rounded-xl items-center hover:shadow-2xl
      shadow-accent hover:cursor-pointer hover:scale-105 m-5 ease-in-out duration-500 backdrop-blur-2xl">
      <img ngSrc="assets/gestao-financeira.jpg" alt="Gestao Financeira" height="853" width="1280"
           class="bg-image object-cover max-w-full h-full">
      <div class="text-section absolute ease-linear duration-500 flex flex-col justify-start h-[290px] -bottom-52 w-full
            bg-black/50 shadow-2xl shadow-black items-center gap-5 text-center ">
        <div class="relative">
          <h2 class="text-2xl text-white pt-2">Gestao Financeira</h2>
        </div>
        <p class="opacity-0 ease-in duration-700">Oferecemos serviços de organização financeira, com acesso a software
          de gestão de acordo com sua necessidade. </p>
        <button class="text-amber-50 pb-16 opacity-0 ease-in duration-500">Read More</button>
      </div>
    </div>

  </div>
</section>
